@tailwind base;
@tailwind components;
@tailwind utilities;

.marck-font {
  font-family: "Marck Script", cursive;
}

.roboto-mono {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
