@tailwind base;
@tailwind components;
@tailwind utilities;

.marck-font {
  font-family: "Marck Script", cursive;
}

.roboto-mono {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.mooli-regular {
  font-family: "Mooli", cursive;
  font-weight: 400;
  font-style: normal;
}
